#nav-bar {
	background-color: #00a087;
	position: fixed;
	width: 100%;
	display: fixed;
	top: 0px;
	margin: 0px;
	z-index: 1;
	
}
#nav-bar .logo {
	background-color: #00a087;
    padding: 0 2em 0 2em;
    padding-right: 10px;
    width: 80px
    height: 80px;
    box-sizing: content-box;
}

#nav-bar .header {
	background-color: #00a087;
	font-size: 2em;
	line-height: 2.5em;
	color: #e8fdff;
}
#nav-bar button {
  float: right;
  width: 140px;
  height: 60px;
  font-size: 1.5em;
  color: #00a087;
  border: solid black 1.7px;
  border-radius: 4px;
  background-color: #caf3e5;
  margin-top: 10px;
}

#nav-bar button:hover {
  color: black;
  background-color: white;
  cursor: crosshair;
}